{% extends 'base.html' %}
{% block title %} 
    Make me a recipe
{% endblock %}
{% block content %}
    <div style="display: none;" id="api-key"></div>
    <div class="hero">
        <div class="form-div search-recipe-form">
            <div>
                <form action="/" method="post" class="text-align">
                    <h5>Find by Ingredients</h5>
                    <div style="justify-content: center;text-align: center;display: flex;position: relative;">
                        <input type="text" name ="search-box" id="search-box" placeholder="Find a Recipe by Ingredients for example: Apple, Cinnamon, Milk" required> 
                        <i class="fa fa-search search-icon"></i>
                    </div>
                    <div>
                        <div>
                            <p class="mt-10">Do you have any food allergies?</p>
                        </div>
                        <div class="home-exculde-ingredient-list">
                            {% for item in intolerences %}
                            {% if item in exclude_list %}
                                <div>
                                    <input type="checkbox" id="{{item}}" name="{{item}}" value="{{item}}" class="m-10" checked> 
                                    <label for="{{ item }}" class="m3"> {{ item }} </label><br>
                                </div>
                            {% else %}
                            <div>
                                <input type="checkbox" id="{{item}}" name="{{item}}" value="{{item}}" class="m-10"> 
                                <label for="{{ item }}" class="m3"> {{ item }} </label><br>
                            </div>
                            {% endif %}

                        {% endfor %}
                        </div>
                        
                    </div>
                    <input type="submit" style="" value="Go" id="go-button">
                </form> 
            </div>
            <div>
                <div class="search-by-recipe-div">
                    <h5 class="mb-0 color-brown">Or click here to </h5>
                    <button type="button" class="btn btn-primary d-block pl-5 color-brown" data-bs-toggle="modal" data-bs-target="#myModal" id="search-by-recipe-button">Find By Recipe</button>  
                </div>
            </div>
        </div>   
    </div>
    <div class="container">
        <h4 class="d-none" id="results-title">Results</h4>
        <div class="row" id="recipe_list">
        </div>
    </div>
    {% if recipes %}
    <div class="container">
        <div class="search-string">
            <h4><span class="color-brown">Results for Ingredients: </span><span>{{ search_string[0] }} </span> 
                {% if search_string[1] %}
                    <span>and no</span>
                    {% for string in search_string[1] %}
                        <span> {{ string }}</span>
                    {% endfor %}
                {% endif %}
            </h4>
        </div>
        <div class="row card-wrapper">
            {% for recipe in recipes %}
            <div class="col-4 pt-0">
                <div class="card-border p-25 card-size">
                    <div class="d-flex">
                        <div id="toast-alert-{{recipe.id}}"></div>
                        <div class="heart-icon">
                            <a href="javascript:void(0);" id="save-{{recipe['id']}}" onclick="saveRecipe('{{recipe['id']}}','{{recipe['title']}}')">
                                <i class='far fa-heart color-orange' id="save-heart-icon"></i>
                            </a>
                            <a href="javascript:void(0);" id="remove-{{recipe['id']}}" style="display:none" onclick="removeRecipe('{{recipe['id']}}','{{recipe['title']}}')">
                                <i class='fa fa-heart color-orange' id="save-heart-icon"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="recipe/{{recipe['id']}}/{{recipe['title']}}" class="text-decoration-none">
                            <p class="color-cadetblue mt-20">{{ recipe['title'] }}</p>
                            <img src="{{ recipe['image']}}" class="card-image-size">
                            
                            <p style="max-width: 300px;min-width: 300px;" class="mt-10">
                                <span class="color-cadetblue">Used Ingredients: </span>
                                {% for ingredient in recipe['usedIngredients'] %}
                                   <span class="color-gray">{{ ingredient.name}},</span> 
                                {% endfor %}
                            </p>
                            <p style="max-width: 300px; min-width: 300px" class="mt-10">
                                <span class="color-cadetblue">Missed Ingredients:</span>
                                {% for ingredient in recipe['missedIngredients'] %}
                                    <span class="color-gray">{{ ingredient.name}},</span>
                                {% endfor %}
                            </p>
                        </a>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="grid-container home-recipe-layout">
            <div class="grid-item-1 h-510 w-240 text-align">
                {% for recipe in recipes_local[0:2] %}
                <div class="text-left">
                        <a href="/{{ recipe.category}}" target="_self" style="text-decoration: none;">
                        <div id="grid-item"> 
                            <h5 style="padding: 5px;"class="color-cadetblue">{{ recipe['title'] }}</h5> 
                            <div>
                                <img src="{{ recipe['image'] }}" style="width: 200px; height: 150px;">
                            </div>
                            <p class="description ">Recipes selected by Make Me a Recipe team</p>
                        </div>
                    </a> 
                </div>
                {% endfor %}
            </div>
            <div class="grid-item-2 h-510 text-align">
                {% for recipe in recipes_local[2:3] %}
                <div class="text-left">
                        <a href="/{{ recipe.category}}" target="_self" style="text-decoration: none;">
                        <div id="grid-item"> 
                            <h5 style="padding: 5px;"class="color-cadetblue">{{ recipe['title'] }}</h5> 
                            <div>
                                <img src="{{ recipe['image'] }}" class="grid-2-image">
                            </div>
                            <p class="description w-500">Make this a meal to remember with recipes for everything from French toast to frittatas, stratas, and so much more.</p>
                        </div>
                    </a> 
                </div>
                {% endfor %}
            </div>
            <div class="grid-item-3 h-510 w-240 text-align">
                {% for recipe in recipes_local[3:] %}
                <div class="text-left">
                        <a href="/{{ recipe.category}}" target="_self" style="text-decoration: none;">
                        <div id="grid-item"> 
                            <h5 style="padding: 5px;"class="color-cadetblue">{{ recipe['title'] }}</h5> 
                            <div>
                                <img src="{{ recipe['image'] }}" style="width: 200px; height: 150px;">
                            </div>
                            <p class="description">Recipes selected by Make Me a Recipe team</p>
                        </div>
                    </a> 
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content modal-size">
            <div class="modal-header">
                <a href="/"><img src="/static/images/FullLogo_Transparent_NoBuffer.png" class="logo-size-small"></a>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
            <h5 class="color-cadetblue">Search Recipe By</h5>
              <form id="search-by-recipe" action="/recipes?keyword=true" method="post">
                <input type="text" name="recipe" class="input-field-style width-300 mr-10 mt mb" id="search-recipe" placeholder="Search by keyword for ex, pasta" class="field-size-350" required>
                    <select id="search-by-recipe-diet" name="Diet" class="input-field-style color-gray mr-10 w-180 mt mb background-white">
                        <option value="Diet" selected>Diet</option>
                        <option value="Gluten Free">Gluten Free</option>
                        <option value="Ketogenic">Ketogenic</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                    </select>
                    <input type="submit" value="Go" class="color-gray height-40" id="go-button">
              </form>
              <p class="color-brown p-10 mb-0">OR</p>
              <h5 class="color-cadetblue">Search By Cuisine and Meal type</h5>
              <form id="search-by-cuisine-and-type" action="/recipes" method="post">
                    <select id="cuisine" name="cuisine" class="input-field-style color-gray mr-10 w-180 background-white mt mb">
                        <option value="Cuisine" selected>Cuisine</option>
                        <option value="Indian">Indian</option>
                        <option value="Italian">Italian</option>
                        <option value="American">American</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Caribbean">Caribbean</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Thai">Thai</option>
                        <option value="French">French</option>
                    </select>
                    <select id="type" name="type" class="input-field-style color-gray mr-10 w-180 background-white mt mb">
                        <option value="Type" selected>Meal Type</option>
                        <option value="Main Course">Main Course</option>
                        <option value="Side Dish">Side Dish</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Soup">Soup</option>
                        <option value="Salad">Salad</option>
                        <option value="Appetizer">Appetizer</option>
                    </select>
                    <select id="diet" name="Diet" class="input-field-style color-gray mr-10 w-180 background-white mt mb">
                        <option value="Diet" selected>Diet</option>
                        <option value="Gluten Free">Gluten Free</option>
                        <option value="Ketogenic">Ketogenic</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                    </select>
                    <input type="submit" value="Go" class="color-gray height-40" id="go-button">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
    