{% extends 'base.html' %}
{% block title %} 
    Make me a recipe
{% endblock %}
{% block content %}
    <div style="display: none;" id="api-key">{{ API_KEY }}</div>
    <div class="pt-20"></div>
    <div class="pt-20"></div>
    <div>
        <form action="/" method="post" >
            <div style="justify-content: center;text-align: center;display: flex;position: relative;">
                <input type="text" name ="search-box" id="search-box" placeholder="Find a Recipe by Ingredients for example: Apple, Cinnamon, Milk" required> 
            </div>
            <div class="exclude-ingredients" style="display: flex;margin: 50px;">
                <p>Exclude ingredients</p>
                {% for item in intolerences %}
                    {% if item in exclude_list %}
                        <input type="checkbox" id="{{item}}" name="{{item}}" value="{{item}}" class="m-10" checked> 
                        <label for="{{ item }}"> {{ item }} </label><br>
                    {% else %}
                        <input type="checkbox" id="{{item}}" name="{{item}}" value="{{item}}" class="m-10"> 
                        <label for="{{ item }}"> {{ item }} </label><br>
                    {% endif %}
                {% endfor %}
            </div>
            <input type="submit" style="width: 60px;height: 50px;" value="Go">
        </form> 
        <div id="exclude-ingredient-section" style="display: inline; text-align: center;">
            {% if loggedIn %}
                {% for ingredient in exclude_list %}
                <div class="exclude-toast" id="{{ingredient.strip()}}">
                    <p id="exclude-value">{{ ingredient }}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onClick=closeButton({{ingredient.strip()}})></button>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="button" class="btn btn-primary d-block" data-bs-toggle="modal" data-bs-target="#myModal" id="search-by-recipe-button">Search By Recipe</button>  
    </div>
    <div class="container">
        <h4 class="d-none" id="results-title">Results</h4>
        <div class="row" id="recipe_list">
        </div>
    </div>
    {% if recipes %}

    <div class="container">
        <div class="row">
            <p>Results for {{ search_string }}</p>
            {% for recipe in recipes %}
            <div class="col-4 card-item">
                <a href="javascript:void(0);" id="save-{{recipe['id']}}" onclick="saveRecipe('{{recipe['id']}}','{{recipe['title']}}')">
                    <i class='far fa-heart' style='font-size:24px' id="save-heart-icon"></i>
                </a>
                <a href="javascript:void(0);" id="remove-{{recipe['id']}}" style="display:none" onclick="removeRecipe('{{recipe['id']}}','{{recipe['title']}}')">
                    <i class='fa fa-heart' style='font-size:24px' id="save-heart-icon"></i>
                </a>
                    <a href="recipe/{{recipe['id']}}/{{recipe['title']}}">
                        <p>{{ recipe['title'] }}</p>
                        <img src="{{ recipe['image']}}">
                        <p>
                            Used Ingredients: 
                            {% for ingredient in recipe['usedIngredients'] %}
                                {{ ingredient.name}},
                            {% endfor %}
                        </p>
                        <p>
                            Missed Ingredients:
                            {% for ingredient in recipe['missedIngredients'] %}
                                {{ ingredient.name}},
                            {% endfor %}
                        </p>
                    </a>
                    
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div style="padding: 30px;"></div>
    <div class="container">
        <div class="row">
            <h3 class="text-center color-brown">Today's top 3 </h3>
            {% for recipe in recipes_local %}
            <div class="col-4 text-center">
                    <a href="/{{ recipe.category}}" target="_self" style="text-decoration: none;">
                    <div id="grid-item" style="border: 1px grey solid; padding: 20px; border-radius: 10px; margin: 20px;"> 
                        <h5 style="padding: 5px;"class="color-cadetblue">{{ recipe['title'] }}</h5> 
                        <div>
                            <img src="{{ recipe['image'] }}" style="width: 200px; height: 150px;">
                        </div>
                    </div>
                </a> 
                
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content modal-size">
            <div class="modal-header">
                <a href="/"><img src="/static/images/FullLogo_Transparent_NoBuffer.png" class="logo-size-small"></a>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
            <h5 class="color-cadetblue">Search Recipe By</h5>
              <form id="search-by-recipe" action="/recipes?keyword=true" method="post">
                <input type="text" name="recipe" class="input-field-style width-300 mr-10" id="search-recipe" placeholder="Search by keyword for ex, pasta" class="field-size-350" required>
                    <select id="search-by-recipe-diet" name="Diet" class="input-field-style color-gray mr-10 w-180">
                        <option value="Diet" selected>Diet</option>
                        <option value="Gluten Free">Gluten Free</option>
                        <option value="Ketogenic">Ketogenic</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                    </select>
                    <input type="submit" value="Search" class="color-gray height-40">
              </form>
              <p class="color-brown p-10 mb-0">OR</p>
              <h5 class="color-cadetblue">Search By Cuisine and Meal type</h5>
              <form id="search-by-cuisine-and-type" action="/recipes" method="post">
                    <select id="cuisine" name="cuisine" class="input-field-style color-gray mr-10 w-180">
                        <option value="Cuisine" selected>Cuisine</option>
                        <option value="Indian">Indian</option>
                        <option value="Italian">Italian</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Mediterranean">Mediterranean</option>
                    </select>
                    <select id="type" name="type" class="input-field-style color-gray mr-10 w-180">
                        <option value="Type" selected>Meal Type</option>
                        <option value="Main Course">Main Course</option>
                        <option value="Side Dish">Side Dish</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Soup">Soup</option>
                        <option value="Salad">Salad</option>
                        <option value="Appetizer">Appetizer</option>
                    </select>
                    <select id="diet" name="Diet" class="input-field-style color-gray mr-10 w-180">
                        <option value="Diet" selected>Diet</option>
                        <option value="Gluten Free">Gluten Free</option>
                        <option value="Ketogenic">Ketogenic</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                        <option value="Vegan">Vegan</option>
                    </select>
                    <input type="submit" value="Search" class="color-gray height-40">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
    