{% extends 'base.html' %}
{% block title %} 
    Make me a recipe
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="/signup" method="post">
                <div style="padding: 2px;" class="mt-10">
                    First Name: <input type="text" name="fname" id="fname" required>
                </div>
                <div style="padding: 4px;" class="mt-10">
                    Last Name: <input type="text" name="lname" id="lname" required>
                </div>
                <div style="padding: 2px;" class="mt-10">
                    Email: <input type="email" name="email" id="email" required> 
                </div>
                <div style="padding: 2px;" class="mt-10">
                    Password: <input type="password" name="password" id="password" required>
                </div>
                <div style="padding: 2px;" class="mt-10">
                    Confirm Password: <input type="password" name="confirm-password" required>
                </div>
               <!-- <div class="mt-10">
                    <label for="exclude">Any food allergies</label><br>
                    <input type="text" id="exclude" placeholder="enter food intolerances separated by comma for ex, milk, peanut" name="exclude">
                </div> -->
                <div class="exclude-ingredients" style="display: flex;margin: 50px;">
                    <p>Exclude ingredients</p>
                    <input type="checkbox" id="Egg" name="Egg" value="egg" class="m-10">
                    <label for="Egg"> Egg </label><br>
                    <input type="checkbox" id="Peanut" name="Peanut" value="peanut" class="m-10">
                    <label for="Peanut"> Peanut</label><br>
                    <input type="checkbox" id="Soy" name="Soy" value="soy" class="m-10">
                    <label for="Soy"> Soy</label><br><br>
                    <input type="checkbox" id="Sesame" name="Sesame" value="sesame" class="m-10">
                    <label for="Sesame">Sesame</label><br>
                    <input type="checkbox" id="Shellfish" name="Shellfish" value="shellfish" class="m-10">
                    <label for="Shellfish">Shellfish</label><br>
                    <input type="checkbox" id="Wheat" name="Wheat" value="wheat" class="m-10">
                    <label for="Wheat">Wheat</label><br><br>
                    <input type="checkbox" id="Milk" name="Milk" value="milk" class="m-10">
                    <label for="Milk">Milk</label><br><br>
                    <input type="checkbox" id="Walnut" name="Walnut" value="walnut" class="m-10">
                    <label for="Walnut">Walnut</label><br><br>
                    <input type="checkbox" id="Cashew" name="Cashew" value="cashew" class="m-10">
                    <label for="Cashew">Cashew</label><br><br>
                </div>
                <input type="submit" value="Signup" class="mt-10">
            </form>
            <div class="mt-10"><span>Already a member?</span><a href="/login">Log In</a></div>
        </div>
        </div>
    </div>
</div>
{% endblock %}